---
import BaseLayout from "../../layouts/BaseLayout.astro";

const contact = {
  title: "Kontakt"
};
---

<BaseLayout
  title="Kontakt"
>
  <section class="pb-16 pt-12 md:pb-16 md:pt-16 min-h-full-screen">
  <article class="max-w-3xl font-sans text-gray-700 leading-relaxed">
    
      <p class="text-[11px] text-[#ff5c35] font-bold uppercase tracking-[0.2em] mb-6">
        Ostatnia aktualizacja: 18.01.2026
      </p>

  </article>

  </section>
</BaseLayout>
