<section class="relative pb-24 pt-36 md:pb-34 md:pt-50">
  <div class="relative grid gap-10 lg:grid-cols-[minmax(0,1fr)_minmax(0,1fr)]">
    <div class="space-y-6 max-w-xl">
            <div class="reveal reveal--top">
                <div class="parallax-wrap">
                    <img src="/src/assets/images/sections/wizual2.png" 
                        alt="Bedroom Furniture" 
                        class="w-full aspect-[8/10] object-fit">
                </div>
            </div>
    </div>
    <div class="">
      <h2 class="text-4xl md:text-5xl tracking-tight uppercase split-chars">
        Lorem ipsum dolor sit amet
      </h2>
    </div>
  </div>
</section>


