<section class="py-36 md:px-36">
    <div class="relative">
        
        <div class="relative z-20 pointer-events-none">
            <h2 class="text-[9vw] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] max-w-4xl tracking-tighter text-black uppercase split-chars">
                Consectetur adipiscing elit
            </h2>
            <p class="font-decorative text-[#C5A47E] text-[6vw] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] absolute top-1/2 right-0 translate-y-12 split-letters">
                Furniture design
            </p>
        </div>

    </div>
</section>