<section class="pt-36 md:px-36">
    <div class="relative">
        
        <div class="relative">
            <h2 class="text-[9vw] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] max-w-4xl tracking-tighter text-black uppercase split-chars">
                Consectetur adipiscing elit
            </h2>
            <p class="font-decorative text-[#C5A47E] text-[6vw] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] absolute top-1/2 right-0 translate-y-12 split-letters">
                Furniture design
            </p>
        </div>

        <div class="grid lg:grid-cols-[minmax(0,1fr)_minmax(0,1.5fr)] gap-10 mt-24">
            <div class="">
            </div>
            <div class="">
                <p class="split-lines text-gray-600">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel ultrices malesuada pulvinar. Sollicitudin aliquet habitant porttitor euismod euismod venenatis phasellus. Curabitur ullamcorper massa vel vitae in morbi maecenas sit. Dui, a, molestie turpis lorem enim pharetra.
                </p>
            </div>
        </div>

    </div>
</section>