---
import { Image } from "astro:assets";
import ParallaxImage from "../../assets/images/sections/bed.png";
---

<section class="relative pb-24 pt-36 md:pb-38 md:pt-44">
  <div class="relative">
    <div class="reveal reveal--top">
    <div class="parallax-wrap">
    <Image
      src={ParallaxImage}
      alt="Łóżko w aranżacji"
      class="w-full h-auto"
      widths={[480, 768, 1024, 1440]}
      sizes="100vw"
      loading="lazy"
      decoding="async"
    />
    </div>
    </div>
  </div>
</section>
