<section class="relative pb-24 pt-36 md:pt-44">
    <div class="relative max-w-4xl mx-auto text-center">
            <h2 class="text-[9vw] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] tracking-tighter text-black uppercase split-chars">
                Social media
            </h2>
            <p class="font-decorative text-[#C5A47E] text-[6vw] md:text-[4rem] lg:text-[5rem] xl:text-[6rem] absolute top-1/2 right-0 split-letters">
                Mooneso
            </p>
    </div>
                <div class="max-w-4xl mx-auto text-center my-24 space-x-12">
                <a class="fade-in text-[var(--accent)] font-semibold">
                    Lorem ipsum 
                </a>
                <a class="fade-in text-[var(--accent)] font-semibold">
                    Lorem ipsum 
                </a>
            </div>
</section>