---
import BaseLayout from "../../layouts/BaseLayout.astro";

const contact = {
  title: "Produkty"
};
---

<BaseLayout
  title="Produkty"
>
  <section class="pb-16 pt-12 md:pb-16 md:pt-16 min-h-screen">
  <article class="max-w-3xl font-sans text-gray-700 leading-relaxed">
    


  </article>
 
  </section>
</BaseLayout>
